.display {
    grid-area: display;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    text-align: end;
    padding-right: 10px;
    background-color: #8c8c8c;
    color: white;
}

.zerobtn {
    grid-area: z;
}

.ninebtn {
    grid-area: nine;
}

.eightbtn {
    grid-area: eight;
}

.sevenbtn {
    grid-area: seven;
}

.sixbtn {
    grid-area: six;
}

.fivebtn {
    grid-area: five;
}

.fourbtn {
    grid-area: four;
}

.threebtn {
    grid-area: three;
}

.twobtn {
    grid-area: two;
}

.onebtn {
    grid-area: one;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: mult;
}

.divide {
    grid-area: divide;
}

.clear {
    grid-area: clear;
}

.equals {
    grid-area: equal;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: 
    "display display display display"
    "clear   plusminus  bs   ...."
    "seven    eight    nine    plus"
    "four     five     six    minus"
    "one   two      three      mult"
    "z     point     equal     divide";
    width: 35vw;
    text-align: center;
    margin: auto;
    grid-gap: 10px;
    background-color: #4d4d4d;
}

.container {
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

.container > div {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 28px;
    
}

.operator {
    background-color: #ff944d;
}

.equals {
    background-color: #5cd65c;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.numbers, .point, .plusminus, .clear, .backspace {
    background-color: #b3b3b3;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;

}

.numbers, .operator, .equals, .point, .plusminus, .clear, .backspace {
    color: white;
    font-style: normal;
}

.numbers:active {
    background-color: #8c8c8c;
}

.operator:active {
    background-color: #ff8000;
}

.equals:active {
    background-color: #009000;
}

.operator, .equals {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.point {
    grid-area: point;
}

.plusminus {
    grid-area: plusminus;
}

.wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
}

.history {
    width: 20vw;
    border: 1px solid black;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    background-color: #cccccc;
}

.backspace {
    grid-area: bs;
}

* {
    box-sizing: border-box;
}

.results {
    text-align: end;
}

.results > div {
    border-bottom: 1px solid grey;
}