.display {
    grid-area: display;
}

.zerobtn {
    grid-area: z;
}

.ninebtn {
    grid-area: nine;
}

.eightbtn {
    grid-area: eight;
}

.sevenbtn {
    grid-area: seven;
}

.sixbtn {
    grid-area: six;
}

.fivebtn {
    grid-area: five;
}

.fourbtn {
    grid-area: four;
}

.threebtn {
    grid-area: three;
}

.twobtn {
    grid-area: two;
}

.onebtn {
    grid-area: one;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: mult;
}

.divide {
    grid-area: divide;
}

.clear {
    grid-area: clear;
}

.equals {
    grid-area: equal;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas: 
    "display display display display"
    "seven    eight    nine    plus"
    "four     five     six    minus"
    "one   two      three      mult"
    "z     clear     equal     divide";
    width: 35vw;
    text-align: center;
    margin: auto;
}

.container {
    border: 2px solid black;
    border-radius: 5px;
}

.container > div {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 40px;
}

.operator {
    background-color: #ff944d;
}

.equals {
    background-color: #5cd65c;
}

.numbers {
    background-color: #b3b3b3;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.numbers, .operator, .equals {
    color: white;
}

